body {margin:0px;font-size:large;box-sizing:border-box;}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.copyright {padding:5px;font-style:italic;font-size:small;}
.loremipsum {margin:1em;}
#content {margin:1em;}
#header {margin:0;padding:0;}
#exitApp {margin:0.1em;float:right;}
